{% extends "templates/web.html" %}
{% block page_content %}

<div class="py-20 row">
    <div class="col-sm-2">
        <img alt="{{ title }}" src="{{ image }}" class="img-fluid"/>
    </div>
    <div class="col">
        <h1>{{ title }}</h1>
        <p class="lead">{{ category }}</p>
        <div class="mt-4">
            <div>Price: <strong>{{ price }}</strong></div>
            {% if doc.minimum_stock>=quantity %}
            <p style="color:tomato;">Quantity : {{doc.quantity}}</p>
            {% else %}
            <p>Quantity : <strong>{{doc.quantity}}</strong></p>
            {% endif %}
        </div>
        <p>{{description}}</p>
    </div>
    <div><button id="create-transaction" style="margin-top: 20px; background-color: white; color: grey; border-radius: 8px; border-color:grey; ">Create Transaction</button></div>
</div>
<script>
    document.getElementById('create-transaction').addEventListener('click', function () {
        window.location.href = '/app/transactions/new?new=1&product={{ doc.name }}';
    });
</script>
{% endblock %}