<div class="py-8 row">
    <div class="col-sm-1">
        <img alt="{{ doc.name }}" src="{{doc.image}}"/>
    </div>
    <div class="col">
        <a class="font-size-lg" href="{{doc.route}}">{{doc.name}}</a>
        <p class="text-muted">₹ {{doc.price}}</p>
        {% if doc.minimum_stock>=quantity %}
        <p style="color:tomato;">Quantity : {{doc.quantity}}</p>
        {% else %}
        <p class="text-muted">Quantity : {{doc.quantity}}</p>
        {% endif %}
        <p class="text-muted">{{doc.category}}</p>
    </div>
</div>